<div class="container">
  <div>
    <span class="view">Executive View</span>
  </div>
  <div>
    <form class="common-forms">
      <span class="common-drp">
        <label> Time Period </label>
        <select class="dropdown" placeholder="Make a selection">
          <option>Make a selection</option>
        </select>
      </span>
      <span class="common-drp">
        <label> Product Family</label>
        <select class="dropdown">
          <option>Make a selection</option>
        </select>
      </span>
    </form>
  </div>
</div>
<hr class="line">