<div class="container">
  <div class="login-form">
    <i class="fa-regular fa-circle-question"></i>
    <i class="fa-regular fa-bell"></i>
    <i class="fa-regular fa-pipe"></i>
    <i class="fa-regular fa-user"></i>
  </div>
  <hr class="line">
  <div class="content">
    <div class="content__phase1">
      <div class="view">
        <app-executive-header></app-executive-header>
      </div>
      <div class="summary">
        <app-executive-summary></app-executive-summary>
      </div>
    </div>
    <div class="content__phase2">
      <div class="attention">
        <app-need-of-attention></app-need-of-attention>
      </div>
      <div class="coverage">
        <app-coverage-platform></app-coverage-platform>
      </div>
      <div class="categories">
        <app-breakdown-by-categories></app-breakdown-by-categories>
        <app-executive-grid></app-executive-grid>
      </div>
    </div>
  </div>
</div>