.summary-container {
  display: flex;
  width: 100%;

  &__efficiency,
  &__experiments {
    width: 25%;
  }

  &__effectiveness {
    width: 50%;
  }

  .summary {
    font-size: 20px;
    margin: 12px 0px;
  }

  .summary-text {
    color: #838383;
    margin: 12px 0px;
    font-size: 13px;
  }

  .summary-content {
    display: flex;
    align-items: center;
    gap: 50px;

    &__details {
      h5 {
        color: #666565;
        margin: 7px 0px;
      }

      h6 {
        margin: 7px 0px;
        color: #999999;
      }

      // span {
      //   color: #999999;
      //   margin: 7px 0px;
      // }
    }

    &__value {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  .live-experiments {
    margin-top: 25px;
    gap: 125px;
  }

  .queue-experiment {
    margin-top: 10px;
    gap: 102px;
  }

  .effectiveness {
    justify-content: space-around;
    margin-top: 30px;
  }
}