<div class="summary-container">
  <div class="summary-container__efficiency">
    <div class="summary">Spend Efficiency</div>
    <div class="summary-text">
      <p>What opportunities are there to more efficiently<br> allocate my dollars across channels?</p>
    </div>
    <div class="summary-content">
      <div class="summary-content__details">
        <h5>Potential Revenue Lift</h5>
        <h6>Assuming Recommended Allocation</h6>
      </div>
      <div class="summary-content__value">
        $32K
      </div>
    </div>
    <div class="summary-content">
      <div class="summary-content__details">
        <h5>Projected Profit Increase</h5>
        <h6>Assuming Recommended Allocation</h6>
      </div>
      <div class="summary-content__value">
        $16K
      </div>
    </div>
  </div>
  <div class="summary-container__experiments">
    <div class="summary">Experiments</div>
    <div class="summary-text">
      <p>How many experiments have I run, am I running, <br>and how much of my spend do they cover?</p>
    </div>
    <div>
      <div class="summary-content live-experiments">
        <div class="summary-content__details">
          <h5>Live Experiments</h5>
        </div>
        <div class="summary-content__value">
          3
        </div>
      </div>
      <div class="summary-content queue-experiment">
        <div class="summary-content__details">
          <h5>Queued Experiments</h5>
        </div>
        <div class="summary-content__value">
          7
        </div>
      </div>
    </div>
  </div>
  <div class="summary-container__effectiveness">
    <div class="summary">Marketing Effectiveness</div>
    <div class="summary-text">
      <p>Lorem ipsum! Across types,channels, and drivers, what are my marketing dollars returning? <br>Here is some more
        textevent!</p>
    </div>
    <div class="summary-content effectiveness">
      <div class="summary-content__details">
        <div class="summary-content__value">$17K</div>
        <h6>Spend</h6>
      </div>
      <div class="summary-content__details">
        <div class="summary-content__value">$203K</div>
        <h6>Revenue</h6>
      </div>
      <div class="summary-content__details">
        <div class="summary-content__value">11.94</div>
        <h6>iRoAS</h6>
      </div>
      <div class="summary-content__details">
        <div class="summary-content__value">0.91</div>
        <h6>iCPA</h6>
      </div>
    </div>
  </div>
</div>